.custom-basic {
    font-weight: italic;
    color: red;
}



body {
  background-color: #f1c40f;
  color: #2c3e50;
}

.btn {
  -webkit-appearance: none;
  cursor: pointer;
  color: ivory;
  padding: 10px 20px;
  outline: none;
  border: none;
  box-shadow: box-shadow;
  overflow: hidden;
  border-radius: border-radius;
  transition: transition;
  
}

#wrapper {
  width: 400px;
  text-align: center;
  margin: 50px auto;
  padding: 20px 10px;
  background-color: ivory;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  
}

#q {
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-around;
 
}

#equal {
  
}

#reset {
  background: reset-color;
  text-shadow: multiple-text-shadow(60, darken(reset-color, 15%));
}